//This is styling unique to Routes components

#myRoutes {
    color: white;
    margin-right: 24px;
    text-align: center;
}

#departureText {
    color: white;
    font-size: 24px;
}

.stops:hover {
    cursor: pointer;
}

.selectedStop {
    color: rgb(97, 194, 251);
        span:before {
            background-image: url('../../assets/icons8-shuttle-50.png');
            background-size: 20px 20px;
            height: 20px;
            width: 20px;
            display: inline-block;
            content: "";
            margin-right: 8px;
        }
}

#routeContainer {
    text-align: center;
    padding: 24px;
}

