:root {
    background-image: url('./assets/busbackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

label {
    color: white;
    padding-right: 8px;
    margin-left: 8px;
}
a {
    color: white;
    text-decoration: none;
}
#myRoutes {
    color: white;
    text-align: right;
    margin-right: 24px;
}

li {
    list-style-type: none;
}

#departureText {
    color: white;
    font-size: 30px;
}