//This Stylesheet is for any themeing/styling that applies

body {
    background: black url("./assets/busbackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

label {
    color: white;
    padding-right: 8px;
    margin-left: 8px;
    font-size: 18px;
    font-weight: bold;
}

a {
    color: white;
    text-decoration: none;
}

li {
    list-style-type: none;
    padding: 8px;
    font-size: 18px;
}

select {
    height: 30px;
    font-size: 18px;
    margin: 8px;
    border-radius: 4px;
    width: 250px;
    background: #dbebff;
}
select:focus {
    box-shadow: 0 0 3pt 2pt #719ECE;    
}
select:focus-visible {
    box-shadow: 0 0 2pt 2pt #719ECE; 
    outline: none;  
}

button{
    background:#000405;
    color:#fff;
    border:none;
    position:relative;
    height:40px;
    font-size:1.2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
  }
  button:hover{
    background:#19283a;
    color:#143e70;
  }
  button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: #143e70;
    transition:400ms ease all;
  }
  button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  button:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all;
  }


h1 {
    text-align: center;
    margin: 24px 0 24px 0;
}

.column-list {
    columns: 2;
}


